name: Continuous Integration
on: [push]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  push:
    branches:
      - main
jobs:
  Docker-image-default-centos7:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build images
        run: |
          make init
          make dockerbuild
      #- name: Start services
      #  run: |
      #    make up
